<style>
    
</style>


<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm kèm ảnh</p>
        <p>
            Các bạn có thể xem và mua hàng tại đây
        </p>
    </div>
    <!-- Đoạn này có 1 ô search box ben trái, 1 combo box bên phải -->
    <div class="search-box">
        <input class="form-control search-input" placeholder="Tìm sản phẩm" type="text" name="" id="">
        <select class="form-control product-category" name="" id="">
            <option value="" selected disable>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Đồ điện tử</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p>Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p>Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p>Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p>Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 com-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4245928/pexels-photo-4245928.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Prodict Image" class="prodict-image">
                <h3 class="product-name">Product 1</h3>
                <p>Lorem imsum dolor sit amet ...</p>
                <p class="product-warranty">
                    Bảo hành
                </p>
                <p class="product-price"> Giá:  <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
    </div>


</div>

<app-footer></app-footer>
